  <footer class="mt-auto bg-light">
              
                <!-- Copyright -->
                <div class="text-center text-dark p-2" style="background-color: rgba(192, 180, 180, 0.2);">
                  Group Members: Ayush Pokharel & Roshan Shrestha
                </div>
                <!-- Copyright -->
              
        </footer>